.footer {
	background: url(../images/footer-bkg_left.png) top left no-repeat, url(../images/footer-bkg_right.png) top right no-repeat, #3d484e;
	padding: 34px 0 18px; 
	margin-top: 35px;
	@include mq(lg){
		background: #3d484e;
	}
	.row {
		flex-wrap: nowrap;
		@include mq(lg){
			flex-wrap: wrap;
		}
	}
	&__item {
		&:first-child{
			@include basis(66.66666%);				
			@include mq(lg){
				order: 2;
				@include basis(100%);	
			}
		}
		&:last-child{
			@include basis(33.33333%);
			@include mq(lg){
				@include basis(100%);
			}		
		}
	}
	&__nav,
	&__options {
		margin-bottom: 20px;
		.row {
			margin: 0 -5px;
		}
		.col {
			flex-grow: 0;
			padding: 0 10px;
			@include mq(xs){
				margin-bottom: 7px;
			}
		}
		a {
			white-space: nowrap;
			text-transform: uppercase;
			text-decoration: none;
			color: #fff;
			font-family: $msans;
			font-weight: 700;
		}
	}
	&__options {
		a {
			font-weight: 500;
			color: $border;
		}
	}
	&__copyright {
		@include font(13,20);
		.copyright {
			color: #7f9099;
			text-decoration: none;
		}
	}
	&__nav {
		
	}
}
.bottom-contacts {
	margin-bottom: 30px;
	line-height: 1.25;
	color: #fff;
	@include mq(lg) {
		display: flex;
	}
	@include mq(sm) {
		display: block;
	}
	&__item {
		color: inherit;
		text-align: right;
		margin-bottom: 10px;
		@include mq(lg) {
			text-align: left;
			flex: 1;
		}
		a {
			color: inherit;
			text-decoration: none;
			@include font(20,20);
		}
	}
}
