.inner {
  &__item { 
    &:nth-child(1) {
      @include basis(25%);
      padding-top: 140px;
      h3, .h3 {
        margin-bottom: 29px;
      }
      .btn {
        margin-bottom: 50px;
      }
    }
    &:nth-child(2) {
      @include basis(75%);
      position: relative;
      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: $gutter;
        right: $gutter;
        background: $border;
        height: 6px;
      }
    }
    &:nth-child(3) {
      @include basis(100%);
    }
  }
  //////////////
  &__sub-item {
    &:first-child {
      @include basis(77.77777%);
    }
    &:last-child {
      @include basis(22.22222%);
      padding-top: 140px;
    }
  }
  .partner {
    margin-bottom: 30px;
  }
  .inner__aside {
    max-width: 273px;
    margin-left: 30px;
    overflow: hidden;
    h3, .h3 {
      margin-bottom: 29px;
    }
  }
}