// Headers

h1, .h1 {
	@include font(36,40,300,$header-font);
	margin: 22px 0;
	color: $header;
	@include mq(sm){
		@include font(34,38,300,$header-font);
		margin: 18px 0;
	}
	@include mq(xs){
		@include font(32,36,300,$header-font);
		margin: 15px 0;
	}
}
h2, .h2 {
	@include font(36,38,300,$header-font);
	text-transform: uppercase;
	color: $header;
	margin: 22px 0;
	@include mq(md){
		@include font(34,36,300,$header-font);
		margin: 18px 0;
	}
	@include mq(sm){
		@include font(30,32,300,$header-font);
	}
	@include mq(xs){
		@include font(26,28,300,$header-font);
	}
}
h3, .h3 {
	@include font(30,32,300,$header-font);
	text-transform: uppercase;
	color: $header;
	margin: 13px 0;
	@include mq(md){
		@include font(28,30,300,$header-font);
		margin: 8px 0;
	}
	@include mq(sm){
		@include font(26,28,300,$header-font);
		margin: 6px 0;
	}
}
h4, .h4 {
	@include font(20,24,700,$header-font);
	text-transform: uppercase;
	color: $header;
	margin: 13px 0;
	@include mq(lg){
		br {display: none}
	}
	@include mq(sm){
		@include font(18,22,300,$header-font);
		margin: 6px 0;
	}
}

p {
	@include mq(sm){
		font-size: 0.95em;
	}
	@include mq(xs){
		font-size: 0.9em;
	}
}

.btn {
  text-decoration: none;
}

.content {
  ul {
    @include list;
  }
}

.table {
	th {
		background: #ededed;
	}
	td, th {
		padding: 10px;
		vertical-align: top;
		border: 1px solid #ccc;
	}
	@include mq(sm) {
		display: block;
		thead, tbody, th, td, tr {
			display: block;
		}
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		tr { border: 1px solid #ccc; }
		td {
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
			&::before {
				position: absolute;
				top: 11px;
				left: 6px;
				width: 45%;
				padding-right: 10px;
				white-space: nowrap;
				content: attr(data-head);
			}
		}
	}
}

.link-icon {
	font-family: $msans;
	font-weight: 500;
	text-transform: uppercase;
	padding: 2px 0 2px 20px;
	text-decoration: none;
	color: #5f6b71;
	display: inline-block;
	position: relative;
	transition: none;
	&:hover{
		color: $blue;
	}
	&::before {
		content: " ";
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-67%);
		left: 0;
	}
	&_search {
		&::before {
			@include sprite($ico-search);
		}
		&:hover,
		.act & {
			&::before {
				@include sprite($ico-search_blue);
			}
		}
	}
	&_light-search {
		&::before {
			@include sprite($ico-search_light);
		}
	}
	&_profile {
		&::before {
			@include sprite($ico-profile);
		}
		&:hover::before {
			@include sprite($ico-profile_blue);
		}
	}
	&_light-profile {
		&::before {
			@include sprite($ico-profile_light);
		}
	}
	&_forum {
		&::before {
			@include sprite($ico-forum);
		}
		&:hover::before {
			@include sprite($ico-forum_blue);
		}
	}
	&_light-forum {
		&::before {
			@include sprite($ico-forum_light);
		}
	}
	&_light-map {
		&::before {
			@include sprite($ico-sitemap_light);
		}
	}
}