nav {
	height: 27px;
	margin-bottom: 17px;
	position: relative;
}
.site-nav{
	$lg-gutter: 10px;
	display: flex;
	margin: 0 -#{$gutter};
	justify-content: flex-end;
	@include mq(lg){
		margin: 0 -#{$lg-gutter};
	}
	@include mq(md){
		margin: 0;
		display: block;
		position: absolute;
		top: 44px;
		right: 0;
		z-index: 1;
		background: #fff;
		transform: scale(0);
		transform-origin: top right;
		transition: transform .2s ease-in;
		text-align: right;
		&.act {
			transform: scale(1);
		}
	}
	@include mq(xs){
		width: 100%;
		font-size: 0.9em;
	}
	&__item {
		flex: 0;
		position: relative;
		&:hover {
			.dropdown {transform: scale(1)!important}
		}
	}
	&__link {
		padding: 0 $gutter;
		white-space: nowrap;
		font-family: $msans;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		@include mq(lg){
			padding: 0 $lg-gutter;
		}
		@include mq(md) {
			padding: 7px 15px;
			display: block;
			background: lighten($blue, 44%);
			border-bottom: 1px solid #fff;
		}
	}
}

.dropdown {
	position: absolute;
	top: 27px;
	right: 0;
	transform: scale(0);
	transition: transform .2s ease-in;
	transform-origin: top right;
	z-index: 30;
	background: #fff;
	@include mq(md){
		position: static;
		transform: scale(1);
		display: none;
		li.act & {
			display: block;
		}
	}
	@include mq(xs){
		font-size: 0.95em;
	}
	&__item{
		text-align: right;
		&:first-child {
			margin-top: 17px;
			@include mq(md){
				margin-top: 0px;
			}
		}
	}
	&__link {
		text-decoration: none;
		display: inline-block;
		font-family: $msans;
		font-weight: 500;
		text-transform: uppercase;
		width: 100%;
		padding: 3px 14px;
		white-space: nowrap;
		border-bottom: 1px solid $blue;
		@include mq(md) {
			padding: 5px 15px 5px 5px;
		}

	}
}

.left-menu {
	margin: 0 0 55px;
	padding: 0;
	list-style: none;
	@include mq(lg){
		display: flex;
		flex-wrap: wrap;
		margin-left: -#{$gutter};
		margin-right: -#{$gutter};
	}
	&__item {
		@include mq(lg) {
			@include basis(25%);
			flex-grow: 0;
			padding: $gutter;	
		}
		@include mq(md) {
			@include basis(33%);
		}
		@include mq(sm) {
			@include basis(100%);
			max-width: 291px;
		}
	}
	&__link {
		display: block;
		padding: 18px 0;
		width: 100%;
		text-decoration: none;
		border-bottom: 1px solid $border;
		line-height: 1.25;
		text-transform: uppercase;
		font-family: $msans;
		font-weight: 700;
		@include mq(lg) {
			border-bottom: 0;
			display: inline-flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			height: 100%;
			border: 1px solid $border;
			padding: 18px;
			&:hover,
			.act & {
				border: 1px solid $blue;
			}
		}
	}
}