.news {
  &__img {
    margin-top: 15px;
    margin-bottom: 12px;
  }
  &__item {
    margin-bottom: 10px;
    .inner & {margin-bottom: 22px;}
    @include basis(33.33333%);
    flex-grow: 0;
    @include mq(lg){
      @include basis(50%);
    } 
    @include mq(md){
      @include basis(100%);
    } 
    &_fit {
      margin-bottom: 25px;
    }
  }
  &__title {
    @include h-line($width: 75px);
    a {
      text-decoration: none;
      line-height: 1.375;
      font-weight: 700;
      display: inline-block;
    }
  }
  &__date {
    @include font(12,22);
    color: #8c9494;
    &_fit {
      position: absolute;
      left: 92px;
      transform: translateY(4px);
    }
  }
  &__txt {
    @include font(14,22);
    color: #636466;
  }
}