.personlist {
 &__item {
   @include basis(33.33333%);
   flex-grow: 0;
   @include mq(md) {
     @include basis(50%);
   }
   @include mq(sm) {
     @include basis(100%);
   }
 } 
}
.person {
  line-height: 1.375;
  padding-top: 20px;
   padding-bottom: 35px;
  &__img {
    border: 1px solid $border;
    margin-bottom: 10px;
    @include img-fit(348px);
    @include mq(md){
      border: 0;
      img {
        left: 0;
        transform: translate(0, -50%);
      }
    }
  }
  &__name {
    font-weight: 700;
    text-decoration: none;
    div {
      text-transform: uppercase;
    }
  }
  &__sub {
    color: #333;
  }
  &__post {
    font-size: 0.875em;
  }
}