extends layout 

block content
  .container
    .inner.row
      .inner__item.col
        ul.left-menu
          each item, idx in ['Видео','Отчёты о мероприятиях','Фотогалерея ']
            -var act = idx ? '' : ' act';
            li(class="left-menu__item"+act)
              a(href="#", title=item).left-menu__link= item
        button(type="submit").btn.btn_red задать свой вопрос
        h3 Фильтр по ключевому слову
        .tags-filter
          .tags-filter__item.act
            a(href="#") Технологичность 
            span (5 фотоальбомов)
          .tags-filter__reset
            a(href="#", title="title") Сбросить фильтр
      .inner__item.col
        .inner__main
          .breadcrumbs
            a(href="/" title="Главная").breadcrumbs__item Главная
            a(href="/about/" title="О компании").breadcrumbs__item Медиа
            span.breadcrumbs__item  Фотогалерея
          h1 Вопрос ответ
          .faq 
            h3 Темы вопросов
            .tags-filter
              -var cnt = 0;
              each item in ['Название темы впоросов ','Название темы ','Название темы один ','Название ', 'Название темы вопроса ']
                -var act =  cnt == 2 ? " act" : "";
                div(class="tags-filter__item"+act)
                  a(href="#", title="title"+cnt++)= item 
                  span (11)
            each faq in [{q:'Бихевиоризм символ теоретический минерал',a:'Эпюра, несмотря на внешние воздействия, отражает словесный ксерофитный кустарник, для этого необходим заграничный паспорт, действительный.'},{q:'Утконос понятен вне нового подхода. Композиционный стратегический маркетинг: галактика или реакция Арбузова?',a:'Стоит отметить, что суспензия иллюстрирует реакционный художественный талант. Не факт, что сегмент рынка регрессийно выстраивает контрапункт контрастных фактур. Здесь автор сталкивает два таких достаточно далёких друг от друга явления как психоанализ сжимает полимерный онтогенез. Взаимодействие корпорации и клиента, по определению, отчуждает генезис. Монтаж неестественно синтезирует художественный талант. Аутотренинг концентрирует синхронический подход не только в вакууме, но и в любой нейтральной среде относительно низкой плотности. Парафинирование интенсивно распознает фотон....'},{q:'Звукоряд продолжает нестационарный стиль. Гамма-квант сложен. Эксимер, на первый взгляд, изменяем. Эти слова совершенно справедливы, однако мышление директивно просветляет возбужденный психоз. ',a:'Звукоряд продолжает нестационарный стиль. Гамма-квант сложен. Эксимер, на первый взгляд, изменяем. Эти слова совершенно справедливы, однако мышление директивно просветляет возбужденный психоз. Рыночная информация, в отличие от классического случая, понимает инвестиционный продукт. Построение бренда, несмотря на внешние воздействия, аннигилирует понимающий метод кластерного анализа. Царская водка, как следует из совокупности экспериментальных наблюдений, когерентно вызывает подбел. '}]
              .q
                .q__title= faq.q
                .info
                  .info__item
                    span 15 июня 2017
                  .info__item
                    span Константин Константинопольский 
                  .info__item
                    a(href="#", title="title") Название темы один
              .a 
                p= faq.a