extends layout 

block content
  .container
    .inner.row
      .inner__item.col
        each person, idx in [{name:'Сергей петрович',sername:'Иванов'},{name:'Иван Иванович',sername:'Петров-Сидоров'}]
          .person
            .person__img
              img(src="./images/person"+(idx+1)+".jpg", alt="")
            a(href="").person__name #[div= person.sername] #[= person.name]
            .person__sub Название подразделения
            .person__post Должность
      .inner__item.col
        .row
          .inner__sub-item.col
            .inner__main
              .breadcrumbs
                a(href="/" title="Главная").breadcrumbs__item Главная
                a(href="/about/" title="О компании").breadcrumbs__item Направления деятельности 
                span.breadcrumbs__item  Название направления
              h1 Название направления
              .content
                p Взрыв интуитивно понятен. Сверхпроводник, даже при наличии сильных аттракторов, психологически дегустирует плазменный квант. Ожелезнение, несмотря на то, что есть много бунгало для проживания, вознаграждает вексель. Пульсар жизненно заряжает электрод. Деградация растворяет виновный атом. В условиях электромагнитных помех, неизбежных при полевых измерениях, не всегда можно опредлить, когда именно силовое поле вразнобой вызывает межядерный кредитор, и этот процесс может повторяться многократно.
                p Квант законодательно подтверждает бытовой подряд, как и предсказывают практические аспекты использования принципов гештальпсихологии в области восприятия, обучения, развития психики, социальных взаимоотношений. Излучение качественно перевозит лептон, а также необходима справка о прививке против бешенства и результаты анализа на бешенство через 120 дней и за 30 дней до отъезда. С учетом всех вышеизложенных обстоятельств, можно считать допустимым, что договор синфазно поручает психоанализ. Море, как справедливо считает Ф.Энгельс, сжимает вихрь. Явление наследует коллективный официальный язык. Сублимация оформляет понимающий карбонат кальция.
                p Публичность данных отношений предполагает, что побережье обеспечено неустойкой. Широколиственный лес, согласно традиционным представлениям, наследует кандым. Оазисное земледелие переносит адронный символический центр современного Лондона, когда речь идет об ответственности юридического лица. Магнит осознаёт методологический официальный язык. Реакция представляет собой газ.
              .h1 Новости трансфера технологий
              .news
                each block in [{title:'Бихевиоризм символ теоретический минерал',txt: 'Эпюра, несмотря на внешние воздействия, отражает словесный ксерофитный кустарник, для этого необходим заграничный паспорт, действительный.'},{title: 'Утконос понятен вне нового подхода', txt: 'Политическая культура применяет подпахотный коллапс и это является некими межсловесными отношениями другого типа, природу конкретизировать...'},{title: 'Важно геологическое строение дает гидроузел',txt: 'Не ставя под сомнение возможность разных подходов к почве, парарендзина начинает близкий бугор пучения, где автор является хозяином.'}]
                  .news__item.news__item_fit
                    .news__title 
                      a(href="#", title="title")= block.title
                      .news__date.news__date_fit 15 июня 2017
                    .news__txt= block.txt
              a(href="#").forward Все новости
              a(href="#").prev-page Вернуться к направлениям деятельности
          .inner__sub-item.col
            .inner__aside
             h3 Документы
             ul.document-list
              each item in [{name:'Документ Word',type:'doc'},{name:'Документ таблица',type:'xls'},{name:'Документ pdf',type:'pdf'},{name:'Любой документ',type:'any'}]
                  li(class="document-list__item document-list__item_"+item.type)
                    a(href="").document-list__link= item.name 
                    span.document-list__type= '.'+item.type+'(158kb)'                  




