extends layout 

block content
  .container
    .inner.row
      .inner__item.col
      .inner__item.col
        .inner__main
          .breadcrumbs
            a(href="/" title="Главная").breadcrumbs__item Главная
            span.breadcrumbs__item  Партнеры
          h1 Партнеры
      .inner__item.col
        .partners.row
          -var cnt = 1;
          while cnt < 12
            .partners__item.col
              .partner
                img(src="./images/logotype_"+cnt+++".png", alt="")
              a(href="#", title="title").partners__link Название компании партнера может быть длинным