doctype html
html
  include ./mixins/menu.pug
  head
    title= 'title'
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="cmsmagazine" content="849adf88a19b6cd917ad2f593e243b3a")
    link(rel="shortcut icon", href="./favicon.ico")
  body
    header.header
      .top
        .container
          .row
            a(href="/", title="Логотип").col.top__item.site-logo 
              img(src="./images/site-logo.png", alt="Логотип рус-нат")
            .col.top__item
              .search
                form(action="/search/" method="get")
                  input(type="text" name="q" placeholder="Введите строку для поиска...").search__input
                  button(type="submit").search__submit.link-icon.link-icon_search поиск
            .col.top__item
              a(href="#", title="Личный кабинет").link-icon.link-icon_profile Личный кабинет
            .col.top__item
              a(href="#", title="Форум").link-icon.link-icon_forum Форум
      .container.top-contacts  
        .top-contacts__item
          a(href="tel:+7(495)2121846").top-contacts__phone +7 (495) 212 18 46
        .top-contacts__item
          a(href="mailto:info@rnatt.ru").top-contacts__mail info@rnatt.ru
      .container
        nav
          button.c-hamburger.c-hamburger--htx
            span toggle menu
          +menu({
            0: {
              href: 'inner1.html',
              title: 'Об Ассоциации',
              sub: {
                0: {
                  href: 'inner6.html',
                  title: 'Миссия Ассоциации'
                },
                1: {
                  href: '#',
                  title: 'Правление'
                },
                2: {
                  href: '#',
                  title: 'Экспертный совет',
                },
                3: {
                  href: '#',
                  title: 'Аппарат'
                },
                4: {
                  href: '#',
                  title: 'Календарь мероприятий'
                },
                5: {
                  href: '#',
                  title: 'Контакты'
                },
                6: {
                  href: '#',
                  title: 'FAQ'
                }
              }
            },
            1: {
              href: '/inner2.html',
              title: 'Медиа'
            },     
            2: {
              href: '/inner3.html',
              title: 'Направления деятельности'
            },
            3: {
              href: '/inner4.html',
              title: 'Партнеры',
            }, 
            4: {
              href: '/inner5.html',
              title: 'Контакты'
            }
          }, 'site-nav')
    main
      block content
    footer.footer
      .container
        .row
          .footer__item.col
            .footer__nav
              ul.row
                each item in ['Об Ассоциации','Медиа','Направления деятельности','Партнеры','Контакты']
                  li.col
                    a(href="#", title=item)= item
            .footer__options
              ul.row
                each obj in [{name: 'поиск', prefix: 'search'},{name: 'Личный кабинет', prefix: 'profile'},{name: 'Форум', prefix: 'forum'},{name: 'Карта сайта', prefix: 'map'}]
                  li.col
                    a(href="#", title=name class='link-icon link-icon_light-'+obj.prefix)= obj.name
            .footer__copyright
              .copyright © Национальная Ассоциация Трансфера Технологий 2017
              .copyright © Создание сайта и дизайн «ИнфоДизайн» 2017
          .footer__item.col
            .bottom-contacts
              .bottom-contacts__item Ломоносовский пр-т, д. 27, к.1,<br /> Москва, Россия, 119192
              .bottom-contacts__item 
                a(href="tel:+74952121846") +7 (495) 212 18 46
            form(action="/subscribe/" method="get")
              .subscribe
                .subscribe__item
                  input(type="text" name="email" placeholder="Email").subscribe__input
                .subscribe__item
                  button(type="submit").subscribe__submit.btn.btn_small-black подписаться