.breadcrumbs {
	margin: 7px 0 23px;
	&__item {
		color: #999;
		@include font(13, 24);
		text-decoration: none;
		&::after{
			content: "";
			display: inline-block;
			width: 0;
			height: 0;
			border-left: 8px solid $border;
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			transition: border-left-color .3s ease-in;
			margin: 0 4px;
		}
		
		&:hover {
			color: $default-color;
			&::after {
				border-left-color: $default-color;
			}
		}
		&:last-child {
			&:hover {
				color: #999;
			}
			&::after {
				display: none;
			}
		}
	}
}
