.calendar-wrapp {
  width: 262px;
  border-radius: 7px;
}
table.calendar {
  table-layout: fixed;
  width: 100%;
  @include mq(sm){
    display: block;
  }
  thead {
    @include font(20,22,300,$msans);
    color: #fff;
    text-transform: uppercase;
    background: $blue;
    border: 1px solid $border;
    @include mq(sm){
      display: block;
      tr {
        display: table;
        width: 100%;
      }
    }
    .calendar-detail & {
       @include font(13);
    }
    th {
      vertical-align: middle;
      .calendar-detail & {
        padding: 15px 0px;
      }
    }
    b {
      font-weight: 700;
    }
    .left,
    .right {
      text-indent: -9999px;
      margin: 5px auto;
      @include font(0,0);
      display: block;
      width: 34px;
      .triangle {
        display: block;
        transform: scale(0.6);
        .calendar-detail & {
          transform: scale(1);
        }
        &__item {
          fill: $border;
          stroke: $border;
          stroke-width: 2px;
          transition: all .2s ease-in;
          .calendar-detail & {
            fill: transparent;
          }
        }
      }
      &:hover,
      &:focus {
        .triangle{
          &__item {
            fill: $red;
            stroke: $red;
          }
        }
      }
    }
  }
  tbody {
    @include mq(sm){
      display: block;
      tr{
        display: block;
      }
    }
    td {
      border: 1px solid $border;
      position: relative;
      @include mq(sm){
        display: flex;
        border: 0;
        border-bottom: 1px solid #fff;
        &>a {
          flex: 1;
          flex-grow: 0;
          @include basis(70px);
          padding: 0;
          background: #eef1f5;
          &::after {
            display: none;
          }
          &::before {
            top: 0;
          }
        }
        .event {
          flex: 1;
        }
      }
      &>span, &>a {
        display: block;
        padding: 5px 1px;
        width: 100%;
        text-align: center;
        color: #4d5155;
        @include font(13);
        position: relative;
        z-index: 2;
        .calendar-detail & {
          padding: 28px 1px;
          @include mq(md){
            padding: 17px 1px;
          }
        }
        &.inact {
          color: #ccc;
        }
        &.act {
          color: #1e55af;
          position: relative;
          text-decoration: none;
          &::after {
            position: absolute;
            content: " ";
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-right: 10px solid #00a4e1;
            border-bottom: 10px solid transparent;
            transition: all .2s ease-in;
          }
          &:hover,
          &:focus {
            @media (min-width: 768px){
              color: #fff;
              background: $blue;
              &::after {
                border-right: 10px solid #fff
              }
              &~.event {
                opacity: 1;
                z-index: 3;
                left: 0;
              }
            }
          }
        }
        &.today {
          background: #eef1f5;
          border: 1px solid $red;
          color: $red;
          @include mq(sm) {
            border: 0;
          }
          .calendar-detail &:before {
            content: "сегодня";
            color: #abb1b9;
            font-weight: 700;
            font-size: 0.4em;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      &>span{
        @include mq(sm){
          display: none;
        }
      }
    }
  }
  .event {
    border: 1px solid $blue;
    padding: 3px 7px;
    background: #f2fcff;
    font-size: 0.40635em;
    position: absolute;
    top:0;
    left: -9999px;
    width: 250%;
    transform: translate(-25%, -100%);
    opacity: 0;
    z-index: -3;
    transition: opacity .2s ease-in;
    @include mq(sm){
      position: static;
      width: auto;
      transform: none;
      opacity: 1;
      border: 0;
      z-index: 1;
    }
    &__title {
      a {
        color: #006a91;
        line-height: 1.125;
        text-decoration: none;
        @include font(16,18);
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__date {
      color: #333;
      @include font(12,18);
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &:hover {
      opacity: 1;
      z-index: 3;
      left: 0;
    }
  }
}
.calendar-detail {
  margin-bottom: 30px;
  table.calendar {
    font-size: 2.4616em;
  }
}
.calendar-filter {
  margin: -15px 0 30px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  @include mq(sm){
    display: block;
    height: 88px;
    width: 100px;
    overflow-Y: scroll;
  }
  &__item {
    flex: 0;
    a,span {
      text-decoration: none;
      .years & {
        font-size: 1.25em;
      }
    }
    &>span {
      color: #d3dade;
    }
  }
}
