.link-icon {
	font-family: $msans;
	font-weight: 500;
	text-transform: uppercase;
	padding: 2px 0 2px 20px;
	text-decoration: none;
	color: #5f6b71;
	display: inline-block;
	position: relative;
	transition: none;
	.act & {
		color: $red;
	}
	&:hover{
    color: $blue;
    .act & {
      color: $red;
    }
	}
	&::before {
		content: " ";
		display: block;
		position: absolute;
		bottom: 9px;
		left: 0;
	}
	&_search {
		&::before {
			@include sprite($ico-search);
		}
		&:hover,
		.act & {
			&::before {
				@include sprite($ico-search_blue);
			}
		}
	}
	&_light-search {
		&::before {
			@include sprite($ico-search_light);
		}
		&:hover::before {
			@include sprite($ico-search_blue);
		}
	}
	&_profile {
		&::before {
			@include sprite($ico-profile);
			.act & {
				@include sprite($ico-profile_red);
			}
		}
		&:hover::before {
			@include sprite($ico-profile_blue);
			.act & {
				@include sprite($ico-profile_red);
			}
		}
	}
	&_light-profile {
		&::before {
			@include sprite($ico-profile_light);
		}
		&:hover::before {
			@include sprite($ico-profile_blue);
		}
	}
	&_forum {
		&::before {
			@include sprite($ico-forum);
			.act & {
				@include sprite($ico-forum_red);
			}
		}
		&:hover::before {
			@include sprite($ico-forum_blue);
			.act & {
				@include sprite($ico-forum_red);
			}
		}
	}
	&_light-forum {
		&::before {
			@include sprite($ico-forum_light);
		}
		&:hover::before {
			@include sprite($ico-forum_blue);
		}
	}
	&_light-map {
		&::before {
			@include sprite($ico-sitemap_light);
		}
		&:hover::before {
			@include sprite($ico-sitemap_blue);
		}
	}
}