.slider-wrapp {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	&_outer {
		height: 529px;
		background: url(../images/slider-bkg.png) 50% 0 no-repeat;
		overflow: hidden;
		.container {
			height: 100%;
		}
	}
	&_inner {
		position: relative;
		height: 100%;
	}
	
}

/**** SLIDER ****/
$slider-image-offset: 390px;
.slider {	
	width: 1530px;
	color: #fff;
	&__item {
		position: relative;
		height: 529px;
		&::before {
			content: " ";
			display: block;
			position: absolute;
			top: 0;
			left: $slider-image-offset;
			@include sprite($slider-overlay);
			z-index: 4;
		}
	}
	&__img {
		position: absolute;
		top: 0;
		z-index: 2;
		left: $slider-image-offset;
	}
	&__inner {
		padding-top: 160px;
		width: 360px;
	}
}
.slider-dots {
	position: absolute;
	left: 0;
	bottom: 10px;
}
/**** DOTS ****/
.slick-dots {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	li {
		display: inline-block;
		margin: 0 3px;
		button {
			text-indent: -9999px;
			border: 0;
			padding: 0;
			background-color: transparent;
			@include sprite($dot);
		}
		&.slick-active {
			button {
				@include sprite($dot_act);
			}
		}
		&:hover {
			button {
				@include sprite($dot_act);
			}
		}
	}

}

/**** ARROWS ****/
.slider-arrow {
	position: absolute;
	text-indent: -99999px;
	padding: 0;
	border: 0;
	line-height: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	&:hover {
		cursor: pointer;
	}
	&:first-of-type {
		left: 13px;
		@include sprite($arrow_left);
	}
	&:last-of-type {
		right: 13px;
		@include sprite($arrow_right);
	}
}
