.slider-wrapp {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	&_outer {
		height: 529px;
		background: url(../images/slider-bkg.png) 50% 0 no-repeat;
		overflow: hidden;
		@include mq(md) {
			height: 500px;
		}
		@include mq(sm) {
			height: 470px;
		}
		.container {
			height: 100%;
		}
	}
	&_inner {
		position: relative;
		height: 100%;
	}
	
}

/**** SLIDER ****/
$slider-image-offset: 390px;
.slider {	
	width: 1530px;
	color: #fff;
	&__item {
		position: relative;
		height: 529px;
		@include mq(md) {
			height: 500px;
		}
		@include mq(sm) {
			height: 470px;
		}
		&::before {
			content: " ";
			display: block;
			position: absolute;
			top: 0;
			left: $slider-image-offset;
			@include sprite($slider-overlay);
			z-index: 4;
			@include mq(lg){
				display: none;
			}
		}
	}
	&__img {
		position: absolute;
		top: 0;
		z-index: 2;
		left: $slider-image-offset;
		@include mq(lg){
			display: none!important;
		}
	}
	&__inner {
		padding-top: 160px;
		width: 360px;
		@include mq(lg) {
			padding-top: 0;
			width: 870px;
			display: table;
			height: 100%;
		}
		@include mq(md) {
			width: 720px;
			font-size: 0.95em;
		}
		@include mq(sm) {
			width: 528px;
		}
		@include mq(xs) {
			width: calc(100vw - 46px);
			font-size: 0.9em;
		}
	}
	&__content-wrapp { //for mobile regroup
		@include mq(lg) {
			display: table-cell;
			vertical-align: middle;
		}
	}
	&__txt { //adapt styles only
		@include mq(lg) {
			max-height: 288px;
    	overflow: hidden;
		}
	}
	&__title {
		@include font(36,42,700,$msans);
		text-transform: uppercase;
		@include mq(xs){
			@include font(32,36,700,$msans);
		}
	}
	.btn {
		margin-top: 20px;
	}
}
.slider-dots {
	position: absolute;
	left: 0;
	bottom: 10px;
}
/**** DOTS ****/
.slick-dots {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	li {
		display: inline-block;
		margin: 0 3px;
		button {
			text-indent: -9999px;
			border: 0;
			padding: 0;
			background-color: transparent;
			@include sprite($dot);
		}
		&.slick-active {
			button {
				@include sprite($dot_act);
			}
		}
		&:hover {
			button {
				@include sprite($dot_act);
			}
		}
	}

}

/**** ARROWS ****/
.slider-arrow {
	position: absolute;
	text-indent: -99999px;
	padding: 0;
	border: 0;
	line-height: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	&:hover {
		cursor: pointer;
	}
	&:first-of-type {
		left: 13px;
		@include sprite($arrow_left);
	}
	&:last-of-type {
		right: 13px;
		@include sprite($arrow_right);
	}
}
