@mixin font($size: $base-font-size, $height: $base-line-height, $weight: 400, $font: $default-font, $context: $base-font-size){

	font-size: $size/$context + em;
	font-weight: $weight;
	font-family: $font;

	@if $height > 0 {
		line-height: $height/$size;
	} @else {
		line-height: 0;
	}

}