@mixin h-line($pos: left, $width: 67px, $height: 6px) {
  position: relative;
  margin-bottom: 42px;
  display: block;
  text-decoration: none;
  &::after{
    content: " ";
    display: block;
    width: $width;
    position: absolute;
    bottom: -19px;
    background: $border;
    height: $height;
    @if $pos == left {
      left: 0;
    }
    @if $pos == center {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
