table.calendar
  thead
    tr
      th(colspan='2') 
        a(href="").left предыдущий
          svg(width="34" height="50").triangle
            polygon(points="0,25 34,0 34,50").triangle__item
      th(colspan='3')
        span #[b Июнь] 2017
      th(colspan='2')
        a(href="").right следующий
          svg(width="34" height="50").triangle
              polygon(points="0,0 34,25 0,50").triangle__item
  tbody
    tr
      td
        a(href="").act.today 29
        .event
          .event__title
            a(href="/ob-assotsiatsii/kalendar-meropriyatiy/but-i-must-explain-to-you-how/") эвент 2
          .event__date 31.07.2017 10:00:00 – 06.08.2017 18:00:00
          .event__title
            a(href="/ob-assotsiatsii/kalendar-meropriyatiy/but-i-must-explain-to-you-how/") эвент 2
          .event__date 31.07.2017 10:00:00 – 06.08.2017 18:00:00
      td
        span.inact 30
      td
        span.inact 31
      td
        span 1
      td
        span 2
      td
        span 3
      td
       span 4
    tr
      td
        span 5
      td
        a(href="#").act 6
        .event
          .event__title Название мероприятия
          .event__date 16.07.2017 – 18.07.2017
          .event__title Название мероприятия
          .event__date 16.07.2017 – 18.07.2017
      td
        span 7
      td
        span 8
      td
        span 9
      td
        a(href="#").act 10
        .event
          .event__title Название мероприятия
          .event__date 16.07.2017 – 18.07.2017
          .event__title Название мероприятия
          .event__date 16.07.2017 – 18.07.2017
      td
        span 11
    tr
      td
        span 12
      td
        span 13
      td
        span.today 14
      td
        span 15
      td
        span 16
      td
        span 17
      td
        span 18
    tr
      td
        a(href="#").act 19
        .event
          .event__title Название мероприятия
          .event__date 16.07.2017 – 18.07.2017
          .event__title Название мероприятия
          .event__date 16.07.2017 – 18.07.2017
      td
        span 20
      td
        span 21
      td
        span 22
      td
        span 23
      td
        span 24
      td
        span 25
    tr
      td
        a(href="#").act 26
        .event
          .event__title Название мероприятия
          .event__date 16.07.2017 – 18.07.2017
          .event__title Название мероприятия
          .event__date 16.07.2017 – 18.07.2017
      td
        span 27
      td
        span 28
      td
        span 29
      td
        span 30
      td
        span.inact 1
      td
        span.inact 2