.social
  script(src="//yastatic.net/share2/share.js")
  a(href="mailto:?subject=Тема сообщения&body=Тело сообщения" class="social__item social__item_em") Отправить по почте
  a(href="javascript:window.print(); void 0;" class="social__item social__item_pr") Распечатать
  .ya-share2(data-services="vkontakte,facebook,odnoklassniki,twitter" data-counter="")
  