// Baze layout
html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	color: $default-color;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	font-size: #{$base-font-size}px;
	line-height: #{$base-line-height};
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	flex: auto;
	@include font;
	max-width: 1920px;
	margin: auto;
	width: 100%;
}
main {
	flex-grow: 1;
}
.container {
	margin: 0 auto;
	padding: 0 $gutter;
	width: 1170px;
	@each $container, $width in $container-widths {
		@include mq(#{$container}){
			width: $width;
		}
	}
}

.row {
	display: flex;
	margin: 0 -#{$gutter};
	flex-wrap: wrap;
}
.col {
	padding: 0 $gutter;
	flex: 1;
}

// Normalize

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

progress {
	vertical-align: baseline;
}

//Nav

nav ul,
footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

// Links

a {
	background-color: transparent;
	color: $link;
	transition: all .2s ease-in;
	&:active,
	&:hover,
	&:focus,
	.act>& {
		color: $link-hov;
		text-decoration: none;
	}
	&[href^='mailto']{

	}
	&:focus {
		outline: $link auto 2px;;
	}
	&.forward {
		position: relative;
		padding-right: 1.2em;
		@include font(14,22);
		.news~& {
			float: right;
		}
		&::after {
			content: " ";
			display: block;
			position: absolute;
			top: 50%;
			right: 4px;
			width: 0;
			height: 0;
			transform: translateY(-40%);
			border-left: 0.6em solid $blue;
			border-top: 0.4em solid transparent;
			border-bottom: 0.4em solid transparent;
			transition: all .4s linear; 
		}
		&:hover,
		&:active,
		&:focus {
			&::after {
				border-left: 0.6em solid $red;
				right: 2px;
			}
		}
	}
	&.prev-page {
		color: #3d484e;
		position: relative;
		line-height: 1.375;
		float: right;
		padding-left: 1.2em;
		clear: both;
		margin: 25px 0;
		&::before {
			content: " ";
			display: block;
			position: absolute;
			top: 50%;
			left: 4px;
			width: 0;
			height: 0;
			transform: translateY(-40%);
			border-right: 0.6em solid #3d484e;
			border-top: 0.4em solid transparent;
			border-bottom: 0.4em solid transparent;
			transition: all .4s linear; 
		}
		&:hover,
		&:active,
		&:focus {

			&::before {
				left: 2px;
			}
		}
	}
}

// Images

img {
	display: block;
	max-width: 100%;
}
svg:not(:root) {
	overflow: hidden;
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.25em;
	color: $link-hov;
}

small {
	font-size: 80%;
}
b,
strong {
	font-weight: bolder;
}
abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}