// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow_left';
$arrow-left-x: 64px;
$arrow-left-y: 0px;
$arrow-left-offset-x: -64px;
$arrow-left-offset-y: 0px;
$arrow-left-width: 20px;
$arrow-left-height: 52px;
$arrow-left-total-width: 153px;
$arrow-left-total-height: 143px;
$arrow-left-image: '../images/sprite.png';
$arrow-left: (64px, 0px, -64px, 0px, 20px, 52px, 153px, 143px, '../images/sprite.png', 'arrow_left', );
$arrow-right-name: 'arrow_right';
$arrow-right-x: 84px;
$arrow-right-y: 0px;
$arrow-right-offset-x: -84px;
$arrow-right-offset-y: 0px;
$arrow-right-width: 19px;
$arrow-right-height: 52px;
$arrow-right-total-width: 153px;
$arrow-right-total-height: 143px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (84px, 0px, -84px, 0px, 19px, 52px, 153px, 143px, '../images/sprite.png', 'arrow_right', );
$dot-act-name: 'dot_act';
$dot-act-x: 120px;
$dot-act-y: 103px;
$dot-act-offset-x: -120px;
$dot-act-offset-y: -103px;
$dot-act-width: 11px;
$dot-act-height: 16px;
$dot-act-total-width: 153px;
$dot-act-total-height: 143px;
$dot-act-image: '../images/sprite.png';
$dot-act: (120px, 103px, -120px, -103px, 11px, 16px, 153px, 143px, '../images/sprite.png', 'dot_act', );
$dot-name: 'dot';
$dot-x: 119px;
$dot-y: 84px;
$dot-offset-x: -119px;
$dot-offset-y: -84px;
$dot-width: 11px;
$dot-height: 16px;
$dot-total-width: 153px;
$dot-total-height: 143px;
$dot-image: '../images/sprite.png';
$dot: (119px, 84px, -119px, -84px, 11px, 16px, 153px, 143px, '../images/sprite.png', 'dot', );
$ico-checkbox-off-name: 'ico-checkbox-off';
$ico-checkbox-off-x: 103px;
$ico-checkbox-off-y: 30px;
$ico-checkbox-off-offset-x: -103px;
$ico-checkbox-off-offset-y: -30px;
$ico-checkbox-off-width: 30px;
$ico-checkbox-off-height: 30px;
$ico-checkbox-off-total-width: 153px;
$ico-checkbox-off-total-height: 143px;
$ico-checkbox-off-image: '../images/sprite.png';
$ico-checkbox-off: (103px, 30px, -103px, -30px, 30px, 30px, 153px, 143px, '../images/sprite.png', 'ico-checkbox-off', );
$ico-checkbox-on-name: 'ico-checkbox-on';
$ico-checkbox-on-x: 103px;
$ico-checkbox-on-y: 0px;
$ico-checkbox-on-offset-x: -103px;
$ico-checkbox-on-offset-y: 0px;
$ico-checkbox-on-width: 30px;
$ico-checkbox-on-height: 30px;
$ico-checkbox-on-total-width: 153px;
$ico-checkbox-on-total-height: 143px;
$ico-checkbox-on-image: '../images/sprite.png';
$ico-checkbox-on: (103px, 0px, -103px, 0px, 30px, 30px, 153px, 143px, '../images/sprite.png', 'ico-checkbox-on', );
$ico-doc-any-name: 'ico-doc_any';
$ico-doc-any-x: 133px;
$ico-doc-any-y: 22px;
$ico-doc-any-offset-x: -133px;
$ico-doc-any-offset-y: -22px;
$ico-doc-any-width: 20px;
$ico-doc-any-height: 21px;
$ico-doc-any-total-width: 153px;
$ico-doc-any-total-height: 143px;
$ico-doc-any-image: '../images/sprite.png';
$ico-doc-any: (133px, 22px, -133px, -22px, 20px, 21px, 153px, 143px, '../images/sprite.png', 'ico-doc_any', );
$ico-doc-pdf-name: 'ico-doc_pdf';
$ico-doc-pdf-x: 133px;
$ico-doc-pdf-y: 0px;
$ico-doc-pdf-offset-x: -133px;
$ico-doc-pdf-offset-y: 0px;
$ico-doc-pdf-width: 20px;
$ico-doc-pdf-height: 22px;
$ico-doc-pdf-total-width: 153px;
$ico-doc-pdf-total-height: 143px;
$ico-doc-pdf-image: '../images/sprite.png';
$ico-doc-pdf: (133px, 0px, -133px, 0px, 20px, 22px, 153px, 143px, '../images/sprite.png', 'ico-doc_pdf', );
$ico-doc-word-name: 'ico-doc_word';
$ico-doc-word-x: 64px;
$ico-doc-word-y: 74px;
$ico-doc-word-offset-x: -64px;
$ico-doc-word-offset-y: -74px;
$ico-doc-word-width: 20px;
$ico-doc-word-height: 22px;
$ico-doc-word-total-width: 153px;
$ico-doc-word-total-height: 143px;
$ico-doc-word-image: '../images/sprite.png';
$ico-doc-word: (64px, 74px, -64px, -74px, 20px, 22px, 153px, 143px, '../images/sprite.png', 'ico-doc_word', );
$ico-doc-xls-name: 'ico-doc_xls';
$ico-doc-xls-x: 64px;
$ico-doc-xls-y: 52px;
$ico-doc-xls-offset-x: -64px;
$ico-doc-xls-offset-y: -52px;
$ico-doc-xls-width: 20px;
$ico-doc-xls-height: 22px;
$ico-doc-xls-total-width: 153px;
$ico-doc-xls-total-height: 143px;
$ico-doc-xls-image: '../images/sprite.png';
$ico-doc-xls: (64px, 52px, -64px, -52px, 20px, 22px, 153px, 143px, '../images/sprite.png', 'ico-doc_xls', );
$ico-forum-blue-name: 'ico-forum_blue';
$ico-forum-blue-x: 133px;
$ico-forum-blue-y: 75px;
$ico-forum-blue-offset-x: -133px;
$ico-forum-blue-offset-y: -75px;
$ico-forum-blue-width: 17px;
$ico-forum-blue-height: 16px;
$ico-forum-blue-total-width: 153px;
$ico-forum-blue-total-height: 143px;
$ico-forum-blue-image: '../images/sprite.png';
$ico-forum-blue: (133px, 75px, -133px, -75px, 17px, 16px, 153px, 143px, '../images/sprite.png', 'ico-forum_blue', );
$ico-forum-light-name: 'ico-forum_light';
$ico-forum-light-x: 133px;
$ico-forum-light-y: 59px;
$ico-forum-light-offset-x: -133px;
$ico-forum-light-offset-y: -59px;
$ico-forum-light-width: 17px;
$ico-forum-light-height: 16px;
$ico-forum-light-total-width: 153px;
$ico-forum-light-total-height: 143px;
$ico-forum-light-image: '../images/sprite.png';
$ico-forum-light: (133px, 59px, -133px, -59px, 17px, 16px, 153px, 143px, '../images/sprite.png', 'ico-forum_light', );
$ico-forum-red-name: 'ico-forum_red';
$ico-forum-red-x: 133px;
$ico-forum-red-y: 43px;
$ico-forum-red-offset-x: -133px;
$ico-forum-red-offset-y: -43px;
$ico-forum-red-width: 17px;
$ico-forum-red-height: 16px;
$ico-forum-red-total-width: 153px;
$ico-forum-red-total-height: 143px;
$ico-forum-red-image: '../images/sprite.png';
$ico-forum-red: (133px, 43px, -133px, -43px, 17px, 16px, 153px, 143px, '../images/sprite.png', 'ico-forum_red', );
$ico-forum-name: 'ico-forum';
$ico-forum-x: 133px;
$ico-forum-y: 107px;
$ico-forum-offset-x: -133px;
$ico-forum-offset-y: -107px;
$ico-forum-width: 17px;
$ico-forum-height: 16px;
$ico-forum-total-width: 153px;
$ico-forum-total-height: 143px;
$ico-forum-image: '../images/sprite.png';
$ico-forum: (133px, 107px, -133px, -107px, 17px, 16px, 153px, 143px, '../images/sprite.png', 'ico-forum', );
$ico-profile-blue-name: 'ico-profile_blue';
$ico-profile-blue-x: 15px;
$ico-profile-blue-y: 127px;
$ico-profile-blue-offset-x: -15px;
$ico-profile-blue-offset-y: -127px;
$ico-profile-blue-width: 15px;
$ico-profile-blue-height: 16px;
$ico-profile-blue-total-width: 153px;
$ico-profile-blue-total-height: 143px;
$ico-profile-blue-image: '../images/sprite.png';
$ico-profile-blue: (15px, 127px, -15px, -127px, 15px, 16px, 153px, 143px, '../images/sprite.png', 'ico-profile_blue', );
$ico-profile-light-name: 'ico-profile_light';
$ico-profile-light-x: 45px;
$ico-profile-light-y: 127px;
$ico-profile-light-offset-x: -45px;
$ico-profile-light-offset-y: -127px;
$ico-profile-light-width: 15px;
$ico-profile-light-height: 16px;
$ico-profile-light-total-width: 153px;
$ico-profile-light-total-height: 143px;
$ico-profile-light-image: '../images/sprite.png';
$ico-profile-light: (45px, 127px, -45px, -127px, 15px, 16px, 153px, 143px, '../images/sprite.png', 'ico-profile_light', );
$ico-profile-red-name: 'ico-profile_red';
$ico-profile-red-x: 0px;
$ico-profile-red-y: 127px;
$ico-profile-red-offset-x: 0px;
$ico-profile-red-offset-y: -127px;
$ico-profile-red-width: 15px;
$ico-profile-red-height: 16px;
$ico-profile-red-total-width: 153px;
$ico-profile-red-total-height: 143px;
$ico-profile-red-image: '../images/sprite.png';
$ico-profile-red: (0px, 127px, 0px, -127px, 15px, 16px, 153px, 143px, '../images/sprite.png', 'ico-profile_red', );
$ico-profile-name: 'ico-profile';
$ico-profile-x: 30px;
$ico-profile-y: 127px;
$ico-profile-offset-x: -30px;
$ico-profile-offset-y: -127px;
$ico-profile-width: 15px;
$ico-profile-height: 16px;
$ico-profile-total-width: 153px;
$ico-profile-total-height: 143px;
$ico-profile-image: '../images/sprite.png';
$ico-profile: (30px, 127px, -30px, -127px, 15px, 16px, 153px, 143px, '../images/sprite.png', 'ico-profile', );
$ico-search-blue-name: 'ico-search_blue';
$ico-search-blue-x: 84px;
$ico-search-blue-y: 68px;
$ico-search-blue-offset-x: -84px;
$ico-search-blue-offset-y: -68px;
$ico-search-blue-width: 16px;
$ico-search-blue-height: 16px;
$ico-search-blue-total-width: 153px;
$ico-search-blue-total-height: 143px;
$ico-search-blue-image: '../images/sprite.png';
$ico-search-blue: (84px, 68px, -84px, -68px, 16px, 16px, 153px, 143px, '../images/sprite.png', 'ico-search_blue', );
$ico-search-light-name: 'ico-search_light';
$ico-search-light-x: 133px;
$ico-search-light-y: 91px;
$ico-search-light-offset-x: -133px;
$ico-search-light-offset-y: -91px;
$ico-search-light-width: 17px;
$ico-search-light-height: 16px;
$ico-search-light-total-width: 153px;
$ico-search-light-total-height: 143px;
$ico-search-light-image: '../images/sprite.png';
$ico-search-light: (133px, 91px, -133px, -91px, 17px, 16px, 153px, 143px, '../images/sprite.png', 'ico-search_light', );
$ico-search-name: 'ico-search';
$ico-search-x: 84px;
$ico-search-y: 52px;
$ico-search-offset-x: -84px;
$ico-search-offset-y: -52px;
$ico-search-width: 16px;
$ico-search-height: 16px;
$ico-search-total-width: 153px;
$ico-search-total-height: 143px;
$ico-search-image: '../images/sprite.png';
$ico-search: (84px, 52px, -84px, -52px, 16px, 16px, 153px, 143px, '../images/sprite.png', 'ico-search', );
$ico-sitemap-blue-name: 'ico-sitemap_blue';
$ico-sitemap-blue-x: 103px;
$ico-sitemap-blue-y: 84px;
$ico-sitemap-blue-offset-x: -103px;
$ico-sitemap-blue-offset-y: -84px;
$ico-sitemap-blue-width: 16px;
$ico-sitemap-blue-height: 16px;
$ico-sitemap-blue-total-width: 153px;
$ico-sitemap-blue-total-height: 143px;
$ico-sitemap-blue-image: '../images/sprite.png';
$ico-sitemap-blue: (103px, 84px, -103px, -84px, 16px, 16px, 153px, 143px, '../images/sprite.png', 'ico-sitemap_blue', );
$ico-sitemap-light-name: 'ico-sitemap_light';
$ico-sitemap-light-x: 84px;
$ico-sitemap-light-y: 84px;
$ico-sitemap-light-offset-x: -84px;
$ico-sitemap-light-offset-y: -84px;
$ico-sitemap-light-width: 16px;
$ico-sitemap-light-height: 16px;
$ico-sitemap-light-total-width: 153px;
$ico-sitemap-light-total-height: 143px;
$ico-sitemap-light-image: '../images/sprite.png';
$ico-sitemap-light: (84px, 84px, -84px, -84px, 16px, 16px, 153px, 143px, '../images/sprite.png', 'ico-sitemap_light', );
$ico-soc-fb-name: 'ico-soc_fb';
$ico-soc-fb-x: 48px;
$ico-soc-fb-y: 103px;
$ico-soc-fb-offset-x: -48px;
$ico-soc-fb-offset-y: -103px;
$ico-soc-fb-width: 24px;
$ico-soc-fb-height: 24px;
$ico-soc-fb-total-width: 153px;
$ico-soc-fb-total-height: 143px;
$ico-soc-fb-image: '../images/sprite.png';
$ico-soc-fb: (48px, 103px, -48px, -103px, 24px, 24px, 153px, 143px, '../images/sprite.png', 'ico-soc_fb', );
$ico-soc-mail-name: 'ico-soc_mail';
$ico-soc-mail-x: 24px;
$ico-soc-mail-y: 103px;
$ico-soc-mail-offset-x: -24px;
$ico-soc-mail-offset-y: -103px;
$ico-soc-mail-width: 24px;
$ico-soc-mail-height: 24px;
$ico-soc-mail-total-width: 153px;
$ico-soc-mail-total-height: 143px;
$ico-soc-mail-image: '../images/sprite.png';
$ico-soc-mail: (24px, 103px, -24px, -103px, 24px, 24px, 153px, 143px, '../images/sprite.png', 'ico-soc_mail', );
$ico-soc-ok-name: 'ico-soc_ok';
$ico-soc-ok-x: 0px;
$ico-soc-ok-y: 103px;
$ico-soc-ok-offset-x: 0px;
$ico-soc-ok-offset-y: -103px;
$ico-soc-ok-width: 24px;
$ico-soc-ok-height: 24px;
$ico-soc-ok-total-width: 153px;
$ico-soc-ok-total-height: 143px;
$ico-soc-ok-image: '../images/sprite.png';
$ico-soc-ok: (0px, 103px, 0px, -103px, 24px, 24px, 153px, 143px, '../images/sprite.png', 'ico-soc_ok', );
$ico-soc-print-name: 'ico-soc_print';
$ico-soc-print-x: 103px;
$ico-soc-print-y: 60px;
$ico-soc-print-offset-x: -103px;
$ico-soc-print-offset-y: -60px;
$ico-soc-print-width: 24px;
$ico-soc-print-height: 24px;
$ico-soc-print-total-width: 153px;
$ico-soc-print-total-height: 143px;
$ico-soc-print-image: '../images/sprite.png';
$ico-soc-print: (103px, 60px, -103px, -60px, 24px, 24px, 153px, 143px, '../images/sprite.png', 'ico-soc_print', );
$ico-soc-tw-name: 'ico-soc_tw';
$ico-soc-tw-x: 96px;
$ico-soc-tw-y: 103px;
$ico-soc-tw-offset-x: -96px;
$ico-soc-tw-offset-y: -103px;
$ico-soc-tw-width: 24px;
$ico-soc-tw-height: 24px;
$ico-soc-tw-total-width: 153px;
$ico-soc-tw-total-height: 143px;
$ico-soc-tw-image: '../images/sprite.png';
$ico-soc-tw: (96px, 103px, -96px, -103px, 24px, 24px, 153px, 143px, '../images/sprite.png', 'ico-soc_tw', );
$ico-soc-vk-name: 'ico-soc_vk';
$ico-soc-vk-x: 72px;
$ico-soc-vk-y: 103px;
$ico-soc-vk-offset-x: -72px;
$ico-soc-vk-offset-y: -103px;
$ico-soc-vk-width: 24px;
$ico-soc-vk-height: 24px;
$ico-soc-vk-total-width: 153px;
$ico-soc-vk-total-height: 143px;
$ico-soc-vk-image: '../images/sprite.png';
$ico-soc-vk: (72px, 103px, -72px, -103px, 24px, 24px, 153px, 143px, '../images/sprite.png', 'ico-soc_vk', );
$slider-overlay-name: 'slider-overlay';
$slider-overlay-x: 0px;
$slider-overlay-y: 0px;
$slider-overlay-offset-x: 0px;
$slider-overlay-offset-y: 0px;
$slider-overlay-width: 64px;
$slider-overlay-height: 103px;
$slider-overlay-total-width: 153px;
$slider-overlay-total-height: 143px;
$slider-overlay-image: '../images/sprite.png';
$slider-overlay: (0px, 0px, 0px, 0px, 64px, 103px, 153px, 143px, '../images/sprite.png', 'slider-overlay', );
$spritesheet-width: 153px;
$spritesheet-height: 143px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $dot-act, $dot, $ico-checkbox-off, $ico-checkbox-on, $ico-doc-any, $ico-doc-pdf, $ico-doc-word, $ico-doc-xls, $ico-forum-blue, $ico-forum-light, $ico-forum-red, $ico-forum, $ico-profile-blue, $ico-profile-light, $ico-profile-red, $ico-profile, $ico-search-blue, $ico-search-light, $ico-search, $ico-sitemap-blue, $ico-sitemap-light, $ico-soc-fb, $ico-soc-mail, $ico-soc-ok, $ico-soc-print, $ico-soc-tw, $ico-soc-vk, $slider-overlay, );
$spritesheet: (153px, 143px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
