// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow_left';
$arrow-left-x: 64px;
$arrow-left-y: 0px;
$arrow-left-offset-x: -64px;
$arrow-left-offset-y: 0px;
$arrow-left-width: 20px;
$arrow-left-height: 52px;
$arrow-left-total-width: 120px;
$arrow-left-total-height: 119px;
$arrow-left-image: '../images/sprite.png';
$arrow-left: (64px, 0px, -64px, 0px, 20px, 52px, 120px, 119px, '../images/sprite.png', 'arrow_left', );
$arrow-right-name: 'arrow_right';
$arrow-right-x: 84px;
$arrow-right-y: 0px;
$arrow-right-offset-x: -84px;
$arrow-right-offset-y: 0px;
$arrow-right-width: 19px;
$arrow-right-height: 52px;
$arrow-right-total-width: 120px;
$arrow-right-total-height: 119px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (84px, 0px, -84px, 0px, 19px, 52px, 120px, 119px, '../images/sprite.png', 'arrow_right', );
$dot-act-name: 'dot_act';
$dot-act-x: 11px;
$dot-act-y: 103px;
$dot-act-offset-x: -11px;
$dot-act-offset-y: -103px;
$dot-act-width: 11px;
$dot-act-height: 16px;
$dot-act-total-width: 120px;
$dot-act-total-height: 119px;
$dot-act-image: '../images/sprite.png';
$dot-act: (11px, 103px, -11px, -103px, 11px, 16px, 120px, 119px, '../images/sprite.png', 'dot_act', );
$dot-name: 'dot';
$dot-x: 0px;
$dot-y: 103px;
$dot-offset-x: 0px;
$dot-offset-y: -103px;
$dot-width: 11px;
$dot-height: 16px;
$dot-total-width: 120px;
$dot-total-height: 119px;
$dot-image: '../images/sprite.png';
$dot: (0px, 103px, 0px, -103px, 11px, 16px, 120px, 119px, '../images/sprite.png', 'dot', );
$ico-checkbox-off-name: 'ico-checkbox-off';
$ico-checkbox-off-x: 84px;
$ico-checkbox-off-y: 52px;
$ico-checkbox-off-offset-x: -84px;
$ico-checkbox-off-offset-y: -52px;
$ico-checkbox-off-width: 16px;
$ico-checkbox-off-height: 21px;
$ico-checkbox-off-total-width: 120px;
$ico-checkbox-off-total-height: 119px;
$ico-checkbox-off-image: '../images/sprite.png';
$ico-checkbox-off: (84px, 52px, -84px, -52px, 16px, 21px, 120px, 119px, '../images/sprite.png', 'ico-checkbox-off', );
$ico-checkbox-on-name: 'ico-checkbox-on';
$ico-checkbox-on-x: 84px;
$ico-checkbox-on-y: 73px;
$ico-checkbox-on-offset-x: -84px;
$ico-checkbox-on-offset-y: -73px;
$ico-checkbox-on-width: 16px;
$ico-checkbox-on-height: 21px;
$ico-checkbox-on-total-width: 120px;
$ico-checkbox-on-total-height: 119px;
$ico-checkbox-on-image: '../images/sprite.png';
$ico-checkbox-on: (84px, 73px, -84px, -73px, 16px, 21px, 120px, 119px, '../images/sprite.png', 'ico-checkbox-on', );
$ico-forum-blue-name: 'ico-forum_blue';
$ico-forum-blue-x: 64px;
$ico-forum-blue-y: 68px;
$ico-forum-blue-offset-x: -64px;
$ico-forum-blue-offset-y: -68px;
$ico-forum-blue-width: 17px;
$ico-forum-blue-height: 16px;
$ico-forum-blue-total-width: 120px;
$ico-forum-blue-total-height: 119px;
$ico-forum-blue-image: '../images/sprite.png';
$ico-forum-blue: (64px, 68px, -64px, -68px, 17px, 16px, 120px, 119px, '../images/sprite.png', 'ico-forum_blue', );
$ico-forum-light-name: 'ico-forum_light';
$ico-forum-light-x: 64px;
$ico-forum-light-y: 84px;
$ico-forum-light-offset-x: -64px;
$ico-forum-light-offset-y: -84px;
$ico-forum-light-width: 17px;
$ico-forum-light-height: 16px;
$ico-forum-light-total-width: 120px;
$ico-forum-light-total-height: 119px;
$ico-forum-light-image: '../images/sprite.png';
$ico-forum-light: (64px, 84px, -64px, -84px, 17px, 16px, 120px, 119px, '../images/sprite.png', 'ico-forum_light', );
$ico-forum-name: 'ico-forum';
$ico-forum-x: 64px;
$ico-forum-y: 52px;
$ico-forum-offset-x: -64px;
$ico-forum-offset-y: -52px;
$ico-forum-width: 17px;
$ico-forum-height: 16px;
$ico-forum-total-width: 120px;
$ico-forum-total-height: 119px;
$ico-forum-image: '../images/sprite.png';
$ico-forum: (64px, 52px, -64px, -52px, 17px, 16px, 120px, 119px, '../images/sprite.png', 'ico-forum', );
$ico-profile-blue-name: 'ico-profile_blue';
$ico-profile-blue-x: 103px;
$ico-profile-blue-y: 64px;
$ico-profile-blue-offset-x: -103px;
$ico-profile-blue-offset-y: -64px;
$ico-profile-blue-width: 15px;
$ico-profile-blue-height: 16px;
$ico-profile-blue-total-width: 120px;
$ico-profile-blue-total-height: 119px;
$ico-profile-blue-image: '../images/sprite.png';
$ico-profile-blue: (103px, 64px, -103px, -64px, 15px, 16px, 120px, 119px, '../images/sprite.png', 'ico-profile_blue', );
$ico-profile-light-name: 'ico-profile_light';
$ico-profile-light-x: 103px;
$ico-profile-light-y: 80px;
$ico-profile-light-offset-x: -103px;
$ico-profile-light-offset-y: -80px;
$ico-profile-light-width: 15px;
$ico-profile-light-height: 16px;
$ico-profile-light-total-width: 120px;
$ico-profile-light-total-height: 119px;
$ico-profile-light-image: '../images/sprite.png';
$ico-profile-light: (103px, 80px, -103px, -80px, 15px, 16px, 120px, 119px, '../images/sprite.png', 'ico-profile_light', );
$ico-profile-name: 'ico-profile';
$ico-profile-x: 103px;
$ico-profile-y: 48px;
$ico-profile-offset-x: -103px;
$ico-profile-offset-y: -48px;
$ico-profile-width: 15px;
$ico-profile-height: 16px;
$ico-profile-total-width: 120px;
$ico-profile-total-height: 119px;
$ico-profile-image: '../images/sprite.png';
$ico-profile: (103px, 48px, -103px, -48px, 15px, 16px, 120px, 119px, '../images/sprite.png', 'ico-profile', );
$ico-search-blue-name: 'ico-search_blue';
$ico-search-blue-x: 103px;
$ico-search-blue-y: 32px;
$ico-search-blue-offset-x: -103px;
$ico-search-blue-offset-y: -32px;
$ico-search-blue-width: 16px;
$ico-search-blue-height: 16px;
$ico-search-blue-total-width: 120px;
$ico-search-blue-total-height: 119px;
$ico-search-blue-image: '../images/sprite.png';
$ico-search-blue: (103px, 32px, -103px, -32px, 16px, 16px, 120px, 119px, '../images/sprite.png', 'ico-search_blue', );
$ico-search-light-name: 'ico-search_light';
$ico-search-light-x: 103px;
$ico-search-light-y: 0px;
$ico-search-light-offset-x: -103px;
$ico-search-light-offset-y: 0px;
$ico-search-light-width: 17px;
$ico-search-light-height: 16px;
$ico-search-light-total-width: 120px;
$ico-search-light-total-height: 119px;
$ico-search-light-image: '../images/sprite.png';
$ico-search-light: (103px, 0px, -103px, 0px, 17px, 16px, 120px, 119px, '../images/sprite.png', 'ico-search_light', );
$ico-search-name: 'ico-search';
$ico-search-x: 103px;
$ico-search-y: 16px;
$ico-search-offset-x: -103px;
$ico-search-offset-y: -16px;
$ico-search-width: 16px;
$ico-search-height: 16px;
$ico-search-total-width: 120px;
$ico-search-total-height: 119px;
$ico-search-image: '../images/sprite.png';
$ico-search: (103px, 16px, -103px, -16px, 16px, 16px, 120px, 119px, '../images/sprite.png', 'ico-search', );
$slider-overlay-name: 'slider-overlay';
$slider-overlay-x: 0px;
$slider-overlay-y: 0px;
$slider-overlay-offset-x: 0px;
$slider-overlay-offset-y: 0px;
$slider-overlay-width: 64px;
$slider-overlay-height: 103px;
$slider-overlay-total-width: 120px;
$slider-overlay-total-height: 119px;
$slider-overlay-image: '../images/sprite.png';
$slider-overlay: (0px, 0px, 0px, 0px, 64px, 103px, 120px, 119px, '../images/sprite.png', 'slider-overlay', );
$spritesheet-width: 120px;
$spritesheet-height: 119px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $dot-act, $dot, $ico-checkbox-off, $ico-checkbox-on, $ico-forum-blue, $ico-forum-light, $ico-forum, $ico-profile-blue, $ico-profile-light, $ico-profile, $ico-search-blue, $ico-search-light, $ico-search, $slider-overlay, );
$spritesheet: (120px, 119px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
