/* Fonts import */
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl 500'), local('MuseoSansCyrl-500'), url('../fonts/Museosanscyrl500.woff2') format('woff2'), url('../fonts/Museosanscyrl500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
	font-family: 'Museo Sans Cyrl';
	font-style: normal;
	font-weight: 300;
	src: local('Museo Sans Cyrl 300'), url('../fonts/Museosanscyrl300.woff') format('woff');
}
@font-face {
	font-family: 'Museo Sans Cyrl';
	font-style: normal;
	font-weight: 700;
	src: local('Museo Sans Cyrl 700'), url('../fonts/Museosanscyrl700.woff') format('woff');
}
/* Media queries */
$breakpoint-widths: (
	lg: 1200px,
	md: 992px,
	sm: 768px,
	xs: 576px
)!default;

/* Container */
$container-widths: (
	lg: 900px,
	md: 750px,
	sm: 558px,
	xs: auto
)!default;

$gutter: 15px;

/* Fonts */
$verdana: 'Verdana', sans-serif;
$msans: 'Museo Sans Cyrl', sans-serif;

$default-font: $verdana;
$header-font: $msans;
$base-font-size: 16;
$base-line-height: 26;

/* Colors */
$default-color: #636466;
$blue: #00a4e1;
$red: #ed2325;
$border: #d3dade;
$header: #242424;

/* Links */
$link: $blue;
$link-hov: $red;

/* Components */
$c-humburger-color: $blue;
$scroll-up-color: $blue;
